<ion-view view-title="Join a House" cache-view="false">
    <ion-content>
        <div class="padding">
            <h4>Joining an existing house</h4>
            <p class="text-center">Please enter the house name.</p>
           </div>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">House Name</span>
                <input type="text" ng-model="name">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive button-theme" ng-click="joinHouse(name)" nav-clear>Join</button>
        </div>
    </ion-content>
</ion-view>